name: Dataset Preprocessing Automation
permissions:
  contents: write
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_i_made_yohan_dwi_pramana.py

      - name: Upload preprocessed dataset
        uses: actions/upload-artifact@v4
        with:
          name: preprocessing_kredivo
          path: preprocessing/preprocessing_kredivo/

      - name: Commit processed dataset
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add preprocessing/
          git commit -m "Update preprocessed dataset [auto]" || echo "No changes"
          git push



